/*
 * This is a manifest file that'll be compiled into application.css.
 *
 * With Propshaft, assets are served efficiently without preprocessing steps. You can still include
 * application-wide styles in this file, but keep in mind that CSS precedence will follow the standard
 * cascading order, meaning styles declared later in the document or manifest will override earlier ones,
 * depending on specificity.
 *
 * Consider organizing styles into separate files for maintainability.
 */

html, body {
  height: 100%;
  margin: 0;
}
body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  background: #111;
  color: #d1d5db;
  font-family: "Geist Mono", monospace;
}

header {
  padding-top: 2rem;
}

main {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  max-width: 800px;
  padding-top: 2rem;
  box-sizing: border-box;
}

nav {
  display: flex;
  justify-content: center;
  margin-bottom: 3rem;
  font-size: 0.9rem;
  gap: 1.5rem;
}

footer {
  width: 100%;
  display: flex;
  text-align: center;
  justify-content: center;
  gap: 1.5rem;
}

footer img:hover {
  filter: brightness(1.2);
  transform: scale(1.1);
  transition: 0.2s;
}

h1, h2, h3 {
  color: #ffff;
}

h3 {
  margin-bottom: 0px;
}

section {
  margin-bottom: 4rem;
}

article {
  margin-bottom: 2rem;
}

a {
  text-decoration: none;
  color: #ffff;
}

a:hover h3{
  color: #e63946;
}


li:hover a {
  color: inherit;
  text-decoration: none;
}

li:hover {
  color: #e63946;
}

.highlight-red {
  color: red;
  margin: 0px 5px 0px 0px;
}

.navbar-link {
  color: inherit;
  text-decoration: none;
  transition: color 0.2s;
  margin-top: auto;
}

.navbar-link:hover {
  color: #e63946;
}

.navbar-title {
  font-size: 1.5rem;
}

.login-container {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 70vh;
  width: 100vw;
}

.login-form {
  background: #181818;
  padding: 2.5rem 3rem;
  border-radius: 8px;
  box-shadow: 0 0 20px 0 #0002;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.login-form fieldset {
  border: none;
  margin: 1rem 0 2.5rem 0;
  padding: 0;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.login-form legend {
  margin-bottom: 2rem;
  font-size: 1.1rem;
  color: #fff;
  font-weight: bold;
  letter-spacing: 0.01em;
}

.login-form label {
  font-size: 1rem;
  margin-bottom: .5rem;
  color: #d1d5db;
}

.login-input {
  padding: 0.75rem 1rem;
  border: none;
  border-radius: 4px;
  margin-bottom: 1rem;
  background: #222;
  color: #d1d5db;
  width: 230px;
  font-size: 1rem;
}

.login-input:focus {
  outline: 2px solid #e63946;
  background: #1a1a1a;
}

.login-submit {
  background-color: #e63946;
  color: #fff;
  border: none;
  border-radius: 4px;
  padding: 0.7rem 2.2rem;
  font-size: 1.1rem;
  cursor: pointer;
  transition: background 0.18s;
  margin-top: 0.5rem;
}

.login-submit:hover, .login-submit:focus {
  background-color: #ff6b81;
}

.flash {
  margin-bottom: 1.25rem;
  padding: 0.7rem 1.5rem;
  border-radius: 4px;
  width: 100%;
  text-align: center;
  font-size: 1rem;
}
.flash-alert {
  background: #fff1f1;
  color: #e63946;
}
.flash-notice {
  background: #e0fbec;
  color: #2c8e47;
}
