<footer>
  <a href="https://www.torn.com/profiles.php?XID=2728237" target="_blank" rel="noopener">
    <%= image_tag "torn.png", alt: "LinkedIn", width: 32, height: 32, style: "margin: 0 8px;" %>
  </a>
  <p>&copy; <%= Time.current.year %> Bram</p>
</footer>
